body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px;
}

.profile {
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    table-layout: fixed;
}

th, td {
    width: 50%;
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

label, input, select, button {
    margin-bottom: 10px;
}

input, select {
    padding: 8px;
    border: 1px solid #000;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.card-details {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
    padding: 10px;
    margin-left: 20px;
}

.card-details img {
    width: 100%;
}

.card-details button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}